@page "/mices/add"

<MudGrid>
    <MudItem xs="2"></MudItem>
    <MudItem xs="8">
        <MudCard Class="mt-4">
            <MudCardHeader Class="d-flex justify-center"> <h3>Add new Mice</h3> </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="6">
                        <MudTextField @bind-Value="mice.Name" Label="Name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.BrandName" Label="Brand name" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Price" Label="Price" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Sensor_type" Label="Sensor type" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Maximum_resolution_DPI_or_CPI" Label="Maximum resolution DPI or CPI" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Number_of_buttons" Label="Number of buttons" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Polling_rate" Label="Polling rate" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                    </MudItem>
                    <MudItem xs="6">
                        <MudTextField @bind-Value="mice.Acceleration_max_acceleration" Label="Acceleration max acceleration" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Operating_mode" Label="Operating mode" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Wire_type" Label="Wire type" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Wire_length" Label="Wire length" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Weight_with_cable" Label="Weight with cable" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Weight_without_cable" Label="Weight without cable" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudTextField @bind-Value="mice.Dimensions" Label="Dimensions" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
                        <MudItem Class="d-flex">
                            <MudSwitch @bind-Value="mice.Internal_memory" ThumbIcon="@(mice.Internal_memory==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(mice.Internal_memory==true ? Color.Success : Color.Error)">Internal memory</MudSwitch>
                            <MudSwitch Class="mx-10" @bind-Value="mice.Backlight" ThumbIcon="@(mice.Backlight==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(mice.Backlight==true ? Color.Success : Color.Error)">Backlight</MudSwitch>
                        </MudItem>
                        
                    </MudItem>
                </MudGrid>
                <MudTextField @bind-Value="mice.Description" Lines="5" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-4"></MudTextField>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-center">
                <MudButton @onclick="Cancel" Variant="Variant.Filled">Cancel</MudButton>
                <MudButton @onclick="Save" Class="ms-2" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="2"></MudItem>
</MudGrid>

@code {
    @inject NavigationManager navigation
    @inject HttpClient httpClient
    @inject ISnackbar Snackbar
    AddMiceDto mice = new();
    private List<string> errors = new();


    private void Cancel()
    {
        navigation.NavigateTo("/mices");
    }

    private async void Save()
    {
        var json = JsonConvert.SerializeObject(mice);

        var request = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await httpClient.PostAsync(Helper.URL + "mices", request);

        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Mice added successfully!", Severity.Success);
            Cancel();
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            Snackbar.Add("Informations isn't valid", Severity.Warning);
            Cancel();
        }
        else
        {
            Snackbar.Add("Some problem with the server", Severity.Error);
            Cancel();
        }
    }

    
}