﻿@{
    ViewData["Title"] = "UPG";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPG | Home</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="shortcut icon"
          href="~/images/site_logo.png"
          type="image/jpeg" />
    <link rel="stylesheet" href="~/css/root.css" />
    <link rel="stylesheet" href="~/style/shared.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>


    <div class="container main-container-of-main">
        <div class="katalog">
            <h2>Каталог</h2>
            <a asp-controller="Home" asp-action="Sborka">
                <img width="30" src="~/images/Category_images/Sborka.png" alt="" />
                Игровые Сборки
            </a>
            <a asp-controller="Home" asp-action="Laptops">
                <img width="30"
                     src="~/images/Category_images/Laptops.png"
                     alt="Laptops" />
                Ноутбуки
            </a>
            <a asp-controller="Home" asp-action="Keyboards">
                <img width="30"
                     src="~/images/Category_images/keyboards.png"
                     alt="keyboards" />
                Клавиатуры
            </a>
            <a asp-controller="Home" asp-action="Mouses">
                <img width="30"
                     src="~/images/Category_images/Mouse.png"
                     alt="Mouse" />

                Мышки
            </a>
            <a asp-controller="Home" asp-action="Headphones">
                <img width="30"
                     src="~/images/Category_images/HeadPhones.png"
                     alt="Headphones" />
                Наушники
            </a>
            <a asp-controller="Home" asp-action="Microfones">
                <img width="30"
                     src="~/images/Category_images/MicroPhones.png"
                     alt="MicroPhones" />
                Микрофоны
            </a>
            <a asp-controller="Home" asp-action="MousePads">
                <img width="30"
                     src="~/images/Category_images/MousePads.jpg"
                     alt="MousePads" />
                Коврики для мыши
            </a>
            <a asp-controller="Home" asp-action="Acsessories">
                <img width="30"
                     src="~/images/Category_images/accosories.png"
                     alt="accosories" />

                Аксессуары
            </a>
            <a asp-controller="Home" asp-action="Decor">
                <img width="30"
                     src="~/images/Category_images/Decors.png"
                     alt="Decors" />
                Декор
            </a>
            <a asp-controller="Home" asp-action="Kits">
                <img width="30" src="~/images/Category_images/Kits.png" alt="Kits" />
                Комплекты
            </a>
            <a asp-controller="Home" asp-action="Monitors">
                <img width="30"
                     src="~/images/Category_images/Monitors.png"
                     alt="Monitors" />
                Мониторы
            </a>
            <a asp-controller="Home" asp-action="SSDorHDD">
                <img width="30" src="~/images/Category_images/SSd.png" alt="SSd" />
                Накопители
            </a>
            <a asp-controller="Home" asp-action="RAM">
                <img width="30" src="~/images/Category_images/RAM.png" alt="RAM" />
                ОЗУ
            </a>
            <a asp-controller="Home" asp-action="UPS">
                <img width="30" src="~/images/Category_images/UPS.png" alt="UPS" />
                UPS
            </a>
            <a asp-controller="Home" asp-action="PowerSupplies">
                <img width="30"
                     src="~/images/Category_images/PowerSupplies.png"
                     alt="PowerSupplies" />
                Блоки питания
            </a>
            <a asp-controller="Home" asp-action="Colons">
                <img width="30"
                     src="~/images/Category_images/Columns.png"
                     alt="Columns" />
                Колонки
            </a>
            <a asp-controller="Home" asp-action="WebCam">
                <img width="30"
                     src="~/images/Category_images/WebCams.png"
                     alt="WebCams" />
                Веб-Камеры
            </a>
            <a asp-controller="Home" asp-action="AppleProducts">
                <img width="30"
                     src="~/images/Category_images/AppleProducts.png"
                     alt="AppleProducts" />
                Продукция Apple
            </a>
            <a asp-controller="Home" asp-action="GamingConsoles">
                <img width="30"
                     src="~/images/Category_images/GameConsoles.png"
                     alt="GameConsoles" />
                Игровые консоли
            </a>
            <a asp-controller="Home" asp-action="Gamepads">
                <img width="30"
                     src="~/images/Category_images/GamePads.png"
                     alt="GamePads" />
                Игровые геймпады
            </a>
            <a asp-controller="Home" asp-action="Glasses">
                <img width="30"
                     src="~/images/Category_images/Glass.png"
                     alt="Glass" />
                Очки для геймеров
            </a>
            <a asp-controller="Home" asp-action="WiFiRouter">
                <img width="30"
                     src="~/images/Category_images/wifi-routers.png"
                     alt="wifi-routers" />
                Wi-Fi Роутеры
            </a>
            <a asp-controller="Home" asp-action="Kronshteyns">
                <img width="30"
                     src="~/images/Category_images/Brackets.png"
                     alt="Brackets" />
                Кронштейны
            </a>
            <a asp-controller="Home" asp-action="Coolers">
                <img width="30"
                     src="~/images/Category_images/Cooler.png"
                     alt="Cooler" />
                Кулера
            </a>
            <a asp-controller="Home" asp-action="Cases">
                <img width="30" src="~/images/Category_images/Case.png" alt="Case" />
                Корпуса
            </a>
            <a asp-controller="Home" asp-action="Armchairs">
                <img width="30"
                     src="~/images/Category_images/ArmChairs.png"
                     alt="ArmChairs" />
                Кресла
            </a>
            <a asp-controller="Home" asp-action="Tables">
                <img width="30"
                     src="~/images/Category_images/GameTables.png"
                     alt="GameTables" />
                Столы для геймеров
            </a>
        </div>
        <div class="main-side">
            <div class="discount-side">
                <div class="title-of-discount">
                    <i class="fa-solid fa-tags"></i>
                    <h2>Товары со скидкой</h2>
                    <a href="https://youtu.be/WIRK_pGdIdA?si=_LunTpSmONi3qZ1Y">Показать все</a>
                </div>
                <div class="paged-discount">
                    <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="diskount-items">
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                    <p>Rampage KL-R6</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                    <p>
                        Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                        Layout
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="item.html">
                    <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                    <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                    <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/playstation 5.jpg"
                         alt="armchair" />
                    <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
            </div>
            <div class="new-side">
                <div class="title-of-new">
                    <i class="fa-solid fa-calendar-check"></i>
                    <h2>Новинки</h2>
                    <a href="#">Показать все</a>
                </div>
                <div class="paged-discount">
                    <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="new-items diskount-items">
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                    <p>Rampage KL-R6</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                    <p>
                        Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                        Layout
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                    <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                    <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/playstation 5.jpg"
                         alt="armchair" />
                    <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
            </div>
            <div class="best-side">
                <div class="title-of-best">
                    <i style="color: coral" class="fa-regular fa-star"></i>
                    <h2>Лучшие предложения</h2>
                    <a href="#">Показать все</a>
                </div>
                <div class="paged-discount">
                    <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="best-items diskount-items">
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                    <p>Rampage KL-R6</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                    <p>
                        Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                        Layout
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                    <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                    <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
                <a class="discount-item" href="#">
                    <img src="~/images/Product_images/playstation 5.jpg"
                         alt="armchair" />
                    <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <s>29 641 000 сум</s>
                    <h2>27 566 000 сум</h2>
                    <div class="services">
                        <button class="main-btn">КУПИТЬ</button>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>