.name-of-item {
    font-size: 3rem;
    color: black;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.item-image {
    display: flex;
    width: 40rem;
    height: 40rem;
    background-image: url(../images/Product_images/asuslaptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 6rem;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.8rem 0 0 0.8rem;
}

.title-of-item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info-for-item {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #cccccc;
    border-radius: 0 0.8rem 0 0;
    padding: 1.6rem 2.2rem;
}

    .info-for-item h1 {
        color: #ff0096;
        margin: 1rem 0;
    }

    .info-for-item p {
        margin: 0.5rem 0;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .info-for-item a {
        text-decoration: none;
        color: #ff0096;
        margin: 1rem 0;
    }

        .info-for-item a:hover {
            color: #80004a;
        }

.add-item-for {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

    .add-item p {
        font-size: 2rem;
        font-weight: 500;
        padding: 0.8rem 1.2rem;
        border: 0.1rem solid #cccccc;
    }

    .add-item button {
        height: 4.2rem;
        border: none;
        background-color: #cccccc;
        cursor: pointer;
        padding: 0.8rem 1rem;
    }

.btn1 {
    border-radius: 1.2rem 0 0 1.2rem;
}

.btn2 {
    border-radius: 0 1.2rem 1.2rem 0;
}

.add-item button i {
    font-size: 1.5rem;
    transition: 90ms ease-in;
    color: #ffffff;
}

.add-item button:hover {
    background-color: #ff0096;
}

.info-for-product {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.8rem 0;
    border: 0.1rem solid #cccccc;
    padding: 1.6rem 2.2rem;
}

    .info-for-product p {
        font-size: 1.6rem;
    }

.favourite {
    width: 5rem;
    height: 5rem;
    border: none;
    background: inherit;
}

    .favourite i {
        font-size: 3rem;
        font-weight: 500;
        color: #ff0096;
        margin-right: 5rem;
    }

.comparison {
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: inherit;
}

    .comparison i {
        font-size: 3rem;
        color: #ff0096;
    }

        .comparison i:hover,
        .favourite i:hover {
            color: #80004a;
        }

.buy-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .buy-btns button {
        width: 20rem;
        padding: 1.4rem 1.8rem;
        border: 0.2rem solid #ffffff;
        border-radius: 1.2rem;
        background-color: #ff0096;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: 100ms ease-in;
    }

        .buy-btns button i {
            font-size: 2rem;
        }

        .buy-btns button:hover {
            border: 0.2rem solid #ff0096;
            background-color: #ffffff;
            color: #80004a;
        }

.hidden {
    display: none !important;
    transition: 5s ease-in;
}

.main-infos button {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: inherit;
    border: none;
}

.active-btn {
    transition: 150ms ease-in;
    color: #ff0096;
    padding: 1.2rem 1.6rem;
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    background-color: inherit;
    border: none;
    border-top: 0.1rem solid #cccccc !important;
    border-right: 0.1rem solid #cccccc !important;
    border-left: 0.1rem solid #cccccc !important;
    border-radius: 1.2rem 1.2rem 0 0;
}

.buttons-of-main-infos {
    display: flex;
    align-items: center;
    border-bottom: 0.2rem solid #cccccc;
}

.characteristics-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .characteristics-info span {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        border: 0.1rem solid #dcdcdccd;
        padding: 2rem;
        background-color: #f1f1f173;
    }

        .characteristics-info span b {
            width: 30%;
        }

        .characteristics-info span:last-child {
            border-radius: 0 0 0.8rem 0.8rem;
        }

.description-info {
    padding: 2rem;
    border: 0.1rem solid #cccccc;
    background-color: #f1f1f173;
    border-radius: 0 0 0.8rem 0.8rem;
}
