:root {
    --site-font-: #FFFFFF;
    --site-bg-: #FFFFFF;
    --site-hd-bg-: #000000;
    --site-main-color-: #000000;
    --site-color-: #ff0096;
    --katalog-border-: #cccccc;
    --new-section-: #50c4ed;
}
