<div class="katalog">
    <h2>Каталог</h2>
    <a asp-controller="Home" asp-action="Sborka">
        <img width="30" src="~/images/Category_images/Sborka.png" alt="" />
        Игровые Сборки
    </a>
    <a asp-controller="Home" asp-action="Laptops">
        <img width="30"
             src="~/images/Category_images/Laptops.png"
             alt="Laptops" />
        Ноутбуки
    </a>
    <a asp-controller="Home" asp-action="Keyboards">
        <img width="30"
             src="~/images/Category_images/keyboards.png"
             alt="keyboards" />
        Клавиатуры
    </a>
    <a asp-controller="Home" asp-action="Mouses">
        <img width="30"
             src="~/images/Category_images/Mouse.png"
             alt="Mouse" />

        Мышки
    </a>
    <a asp-controller="Home" asp-action="Headphones">
        <img width="30"
             src="~/images/Category_images/HeadPhones.png"
             alt="Headphones" />
        Наушники
    </a>
    <a asp-controller="Home" asp-action="Microfones">
        <img width="30"
             src="~/images/Category_images/MicroPhones.png"
             alt="MicroPhones" />
        Микрофоны
    </a>
    <a asp-controller="Home" asp-action="MousePads">
        <img width="30"
             src="~/images/Category_images/MousePads.jpg"
             alt="MousePads" />
        Коврики для мыши
    </a>
    <a asp-controller="Home" asp-action="Acsessories">
        <img width="30"
             src="~/images/Category_images/accosories.png"
             alt="accosories" />

        Аксессуары
    </a>
    <a asp-controller="Home" asp-action="Decor">
        <img width="30"
             src="~/images/Category_images/Decors.png"
             alt="Decors" />
        Декор
    </a>
    <a asp-controller="Home" asp-action="Kits">
        <img width="30" src="~/images/Category_images/Kits.png" alt="Kits" />
        Комплекты
    </a>
    <a asp-controller="Home" asp-action="Monitors">
        <img width="30"
             src="~/images/Category_images/Monitors.png"
             alt="Monitors" />
        Мониторы
    </a>
    <a asp-controller="Home" asp-action="SSDorHDD">
        <img width="30" src="~/images/Category_images/SSd.png" alt="SSd" />
        Накопители
    </a>
    <a asp-controller="Home" asp-action="RAM">
        <img width="30" src="~/images/Category_images/RAM.png" alt="RAM" />
        ОЗУ
    </a>
    <a asp-controller="Home" asp-action="UPS">
        <img width="30" src="~/images/Category_images/UPS.png" alt="UPS" />
        UPS
    </a>
    <a asp-controller="Home" asp-action="PowerSupplies">
        <img width="30"
             src="~/images/Category_images/PowerSupplies.png"
             alt="PowerSupplies" />
        Блоки питания
    </a>
    <a asp-controller="Home" asp-action="Colons">
        <img width="30"
             src="~/images/Category_images/Columns.png"
             alt="Columns" />
        Колонки
    </a>
    <a asp-controller="Home" asp-action="WebCam">
        <img width="30"
             src="~/images/Category_images/WebCams.png"
             alt="WebCams" />
        Веб-Камеры
    </a>
    <a asp-controller="Home" asp-action="AppleProducts">
        <img width="30"
             src="~/images/Category_images/AppleProducts.png"
             alt="AppleProducts" />
        Продукция Apple
    </a>
    <a asp-controller="Home" asp-action="GamingConsoles">
        <img width="30"
             src="~/images/Category_images/GameConsoles.png"
             alt="GameConsoles" />
        Игровые консоли
    </a>
    <a asp-controller="Home" asp-action="Gamepads">
        <img width="30"
             src="~/images/Category_images/GamePads.png"
             alt="GamePads" />
        Игровые геймпады
    </a>
    <a asp-controller="Home" asp-action="Glasses">
        <img width="30"
             src="~/images/Category_images/Glass.png"
             alt="Glass" />
        Очки для геймеров
    </a>
    <a asp-controller="Home" asp-action="WiFiRouter">
        <img width="30"
             src="~/images/Category_images/wifi-routers.png"
             alt="wifi-routers" />
        Wi-Fi Роутеры
    </a>
    <a asp-controller="Home" asp-action="Kronshteyns">
        <img width="30"
             src="~/images/Category_images/Brackets.png"
             alt="Brackets" />
        Кронштейны
    </a>
    <a asp-controller="Home" asp-action="Coolers">
        <img width="30"
             src="~/images/Category_images/Cooler.png"
             alt="Cooler" />
        Кулера
    </a>
    <a asp-controller="Home" asp-action="Cases">
        <img width="30" src="~/images/Category_images/Case.png" alt="Case" />
        Корпуса
    </a>
    <a asp-controller="Home" asp-action="Armchairs">
        <img width="30"
             src="~/images/Category_images/ArmChairs.png"
             alt="ArmChairs" />
        Кресла
    </a>
    <a asp-controller="Home" asp-action="Tables">
        <img width="30"
             src="~/images/Category_images/GameTables.png"
             alt="GameTables" />
        Столы для геймеров
    </a>
</div>
