@{
    ViewData["Title"] = "Item";

}

<body>
    <header>
        <!-- /* Site Upper side start */ -->
        <div class="container upper-header">
            <div class="login-reg">
                <a href="#">Вход/Pегистрация</a>
                <a href="#">UZ/RU</a>
            </div>
            <div class="order-side">
                <a href="#">
                    <i class="fa-regular fa-heart"></i>
                    <h4>Закладки</h4>
                    <p class="added">0</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-list"></i>
                    <h4>Сравнение товаров</h4>
                    <p class="added">0</p>
                </a>
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h4>Корзина</h4>
                    <p class="added">0</p>
                </a>
            </div>
        </div>
        <!-- /* Site Upper side end */ -->
    </header>
    <!-- Site Main header start -->
    <div class="container main-header">
        <div class="site-logo">
            <img width="315"
                 height="70"
                 src="images/site_logo.png"
                 alt="This is for site logo" />
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <a href="#">
                Расположение Улица Наваи 37 <br />
                Расположение Трц. Малика магазин Б-24 <br />
                Режим работы: ПН, ВТ, СР, ЧТ, СБ, ВС | с 10:00 - 20:00 <br />
                Выходной: ПТ
            </a>
        </div>
        <div class="phone-number">
            <i class="fa-solid fa-phone"></i>
            <span class="numbers">
                <span>
                    <h3>(99) 124-24-24</h3>
                    <p>(ул. Навои 37)</p>
                </span>
                <span>
                    <h3>(97) 124-24-24</h3>
                    <p>(Трц. Малика B24)</p>
                </span>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="search-side">
            <input type="text" placeholder="Найти, например, HyperX Cloud Alpha" />
            <button class="site-btn">Найти</button>
        </div>
    </div>

    <!-- Site Main header end -->
    <main>
        <div class="container">
            <h1 class="name-of-item">
                ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0) ® ``
            </h1>
            <div class="item">
                <div class="item-image"></div>
                <div class="title-of-item">
                    <div class="info-for-item">
                        <s style="color: red">29 641 000 сум</s>
                        <h1>27 566 000 сум</h1>
                        <p>2200</p>
                        <a href="#">Зарегистрируйся</a>
                        <div class="add-item-for">
                            <div class="add-item">
                                <button class="btn1"><i class="fa-solid fa-plus"></i></button>
                                <p class="count-of-product">1</p>
                                <button class="btn2">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>

                            <button class="favourite">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                            <button class="comparison">
                                <i class="fa-solid fa-list-ul"></i>
                            </button>
                        </div>
                        <div class="buy-btns">
                            <button>
                                <i class="fa-solid fa-bolt"></i>
                                БЫСТРЫЙ ЗАКАЗ
                            </button>
                            <button>
                                <i class="fa-solid fa-cart-shopping"></i>
                                КУПИТЬ
                            </button>
                        </div>
                    </div>
                    <div class="info-for-product">
                        <img width="150" src="images/Brend/asus.png" alt="" />
                        <p>Производитель: <b> Asus</b></p>
                        <p>Артикул: <b> asus-zenbook-pro-16x-oled-90nb0wu1-m007h0</b></p>
                    </div>
                </div>
            </div>
            <div class="main-infos">
                <div class="buttons-of-main-infos">
                    <button class="charasteristics active-btn">Характеристики</button>
                    <button class="description">Описание</button>
                </div>

                <div class="characteristics-info">
                    <span class="info1">
                        <b>Процессор</b>
                        <p>Intel Core i7-12700H</p>
                    </span>
                    <span class="info2">
                        <b>Оперативная память</b>
                        <p>LPDDR5 16GB</p>
                    </span>
                    <span class="info3">
                        <b>Хранилище</b>
                        <p>1TB M.2 NVMe PCIe 4.0</p>
                    </span>
                    <span class="info4">
                        <b>Видеокарта</b>
                        <p>RTX 3060 GDDR6 6GB Laptop</p>
                    </span>
                    <span class="info5">
                        <b>Экран</b>
                        <p>16 UHD (3840 x 2400), 60hz OLED</p>
                    </span>
                    <span class="info6">
                        <b>Wi-Fi</b>
                        <p>Wi-Fi 6E(802.11ax)</p>
                    </span>
                    <span class="info7">
                        <b>RTX/AMD</b>
                        <p>RTX</p>
                    </span>
                </div>
                <div class="description-info hidden">
                    <p>
                        <b>Zenbook Pro 16X OLED</b> — это бескомпромиссный ноутбук для
                        творчества с множеством инновационных конструктивных особенностей
                        и совершенно новым цельнометаллическим корпусом. Внутри он оснащен
                        новой революционной сверхкомпактной системой-на-модуле (SoM) ASUS
                        Supernova, которая обеспечивает сверхмощную производительность
                        благодаря процессору Intel® Core ™ i7-12700H , графическому
                        процессору NVIDIA® GeForce RTX ™ 3060 Laptop и оперативной памяти
                        LPDDR5 . Снаружи находится лучший в мире сенсорный экран 16 4K 60
                        Гц OLED HDR NanoEdge .. Новый механизм активной аэродинамической
                        системы Ultra (AAS Ultra) приводит в действие клавиатуру с
                        автоматическим наклоном, которая обеспечивает удобный угол набора
                        текста, а AAS Ultra также улучшает охлаждение системы для
                        максимальной производительности. Совершенно новая интеллектуальная
                        система освещения White RGB, которая обеспечивает интеллектуальные
                        интерактивные функции. Инновационный ASUS Dial позволяет точно
                        управлять творческими параметрами в приложениях Adobe® кончиками
                        пальцев , а новый увеличенный ASUS NumberPad имеет тактильную
                        обратную связь и повышенную чувствительность к давлению для более
                        удобного ввода чисел. Zenbook Pro 16X OLED меняет представление о
                        том, каким должен быть ноутбук для творческих людей, и помогает
                        вам вывести свои творческие способности на новый уровень.
                    </p>
                    <br />
                    <p>
                        <b>Непревзойденная производительность</b> Благодаря новейшей
                        платформе Intel, NVDIA и сверхкомпактному дизайну ASUS Supernova
                        SoM новый Zenbook Pro 16X OLED 2023 года заметно повышает
                        производительность редактирования видео и производительность
                        3D-рендеринга, что значительно сокращает время обработки.
                    </p>
                    <br />
                    <p>
                        <b>Дизайн SoM ASUS Supernova</b> ASUS Supernova System-on-Module
                        (SoM) Design имеет ряд преимуществ, что повышает общую
                        эффективность охлаждения системы. Это оставляет дополнительное
                        место для компонентов питания графического процессора, помогая им
                        достигать более высоких значений TGP, обеспечивая пользователям
                        большую стабильность и более высокую производительность
                        графического процессора. Дизайн не только сократил расстояние
                        между процессором и памятью, но и интегрировал премиальную DRAM
                        LPDDR5 с низким энергопотреблением и материалы с малыми потерями,
                        объединяя память с высокой пропускной способностью и малой
                        задержкой в ​​​​едином пуле в индивидуальном корпусе.
                    </p>
                    <br />
                    <p>
                        <b>Графика студийного уровня</b> Высокопроизводительный
                        графический процессор необходим, когда речь идет об графических
                        задачах с интенсивным использованием графики, таких как
                        3D-рендеринг кинематографического качества и редактирование видео
                        с высоким разрешением. Графический процессор GeForce RTX ™ 3060
                        студийного уровня в Zenbook Pro 16X OLED обладает возможностями,
                        которые помогают ему быстрее экспортировать и выполнять самые
                        сложные визуальные задачи. А для спокойствия лучшая совместимость,
                        производительность и стабильность гарантируются драйвером NVIDIA
                        Studio.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container main-footer">
            <div class="footer-side-item">
                <h2>Информация</h2>
                <ul>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Контактная информация</a>
                    </li>
                    <li>
                        <a href="#">Наши магазины</a>
                    </li>
                </ul>
            </div>
            <div class="footer-side-item">
                <h2>Поддержка</h2>
                <a href="#">Сервисные центры</a>
            </div>
            <div class="footer-side-item">
                <h2>Покупателям</h2>
                <a href="#">Акции</a>
            </div>
            <div class="footer-side-item">
                <h2>Мы принимаем к оплате</h2>
                <ul>
                    <li>
                        <a href="#">Наличные</a>
                    </li>
                    <li>
                        <a href="#">PayMe</a>
                    </li>
                    <li>
                        <a href="#">Click</a>
                    </li>
                    <li>
                        <a href="#">UzCard</a>
                    </li>
                    <li>
                        <a href="#">Apelsin</a>
                    </li>
                </ul>
            </div>
            <div class="footer-side-item">
                <h2>Мы в социальных сетях</h2>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-telegram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    <script src="app.js"></script>
</body>

