<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UPG.Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span>Home</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitors">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-display"></i></span>
                    <span>Monitors</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mices">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-mouse2"></i></span>
                    <span>Mices</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="laptops">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-laptop"></i></span>
                    <span>Laptops</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="armchairs">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"></span>
                    <span>Armchairs</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cooler">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-cooler"></i></span>
                    <span>Coolers</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drives">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-drives"></i></span>
                    <span>Drives</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gamingBuilds">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-drives"></i></span>
                    <span>GamingBuilds</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="headphones">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-drives"></i></span>
                    <span>Headphones</span>
                </div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}