<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UPG.Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span>Home</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitors">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-display"></i></span>
                    <span>Monitors</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mices">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-mouse2"></i></span>
                    <span>Mices</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="laptops">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-laptop"></i></span>
                    <span>Laptops</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="keyboards">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-keyboard"></i></span>
                    <span>Keyboards</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="housings">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i style="color: white" class="bi bi-pc"></i></span>
                    <span>Housings</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="armchairs">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon">
                        <img class="catalog-icon" src="https://upg.uz/storage/files/categories/14/original/w0QtYaEkocyKm7R9zaTZi24FaVBiIU2ii495WaWs.png"></span>
                    <span>Armchairs</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cooler">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon">
                        <img class="catalog-icon" src="https://upg.uz/storage/files/categories/22/original/w9vLhnGIpo1rLTu8Mdy0bYDXCEVo1InT1WoD8phI.png">
                    </span>
                    <span>Coolers</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drives">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon">
                            <img class="catalog-icon" src="https://upg.uz/storage/files/categories/23/original/ekFcdz4ptTSEI7WHAUCnRQDji9hI1KYPt42uRIAh.png">
                    </span>
                    <span>Drives</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gamingBuilds">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon">
                            <img class="catalog-icon" src="https://upg.uz/storage/files/categories/20/original/I8YhtDk8EGne6DhdWeJGE0TrJRG4NTGQAQgcYLXD.png">
                    </span>
                    <span>GamingBuilds</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="headphones">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon">
                        <img class="catalog-icon" src="https://upg.uz/storage/files/categories/5/original/d9I688kCoxpZ2mlRhxKFYFxlnHi7IrtiKeo1BBOQ.png">
                    </span>
                    <span>Headphones</span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mousepads">
                <div class="f-link d-flex justify-content-start" style="align-items: center">
                    <span class="icon"><i class="bi bi-keyboard"></i></span>
                    <span>Mouse pads</span>
                </div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}